<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="keywords" content="spookynet.org, webdesignlab.org " /> 
	<title>Downloaded from spookynet.org</title>
	
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
	<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
	<link href="css/main.css" rel="stylesheet" type="text/css" />

</head>
<body>
		<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
		
		
		<!-- login form -->
		<form class="form-signin">
			<div class="profile">
				<span><img src="img/__tmp/profile.png" alt=""></span>
			</div>
			<input type="text" class="input-block-level" placeholder="Email address">
			<input type="password" class="input-block-level" placeholder="Password">
			<label class="checkbox">
				<input type="checkbox" value="remember-me"> Remember me
			</label>
			<button class="btn btn-large btn-primary" type="submit">Login to admin</button>
		</form>
		<a href="http://spookynet.org"><img src="http://spookynet.org/zapasowe/x.png"></a>
        <a href="http://webdesignlab.org"><img src="http://webdesignlab.org/x.png"></a>
		
        <!-- footer -->
		<footer id="footer">
			
		</footer>
		
        <script src="js/vendor/jquery-1.9.0.min.js"></script>
        <script src="js/vendor/jquery-ui-1.10.2.custom.min.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="js/vendor/prettify.js"></script>
        <script src="js/vendor/jquery.sparkline.min.js"></script>
        <script src="js/vendor/jquery.mcustomscrollbar.concat.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/page/index.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
		
    </body>
</html>
